<div class="col-auto text-left border-right">
    <div class="align-self-start font-weight-bold p-2">Barras</div>
    <div class="align-self-center font-weight-bold p-2">
        Nome da Barra
        <input style="background-color: #27292c; color: #5d6269;"
            type="text"
            class="form-control mt-1 mb-1"
            id="nomeBarra"
            placeholder="Nome da Barra" />
    </div>
    <div class="align-self-center font-weight-bold p-2">
        Comprimento da Barra
        <input style="background-color: #27292c; color: #5d6269;"
            type="text"
            class="form-control mt-1 mb-1"
            id="ComprimentoBarra"
            placeholder="Comprimento da Barra" />
    </div>
    <div class="align-self-center font-weight-bold p-2">
        Esforço Interno
        <input style="background-color: #27292c; color: #5d6269;"
            type="number"
            class="form-control mt-1 mb-1"
            id="EsforcoInterno"
            placeholder="Esforço Interno" />
    </div>
    <div class="align-self-center font-weight-bold p-2">
        Esforço
        <select class="form-control mt-1 mb-1"
            id="TipoEsforco"
            style="background-color: #27292c; color: #5d6269;">
            <option value="T">Tração</option>
            <option value="C">Compressão</option>
        </select>
    </div>
    <div class="align-self-center p-2 d-flex justify-content-center">
        <button type="button"
            class="btn btn-primary ">Adicionar</button>
    </div>
    <div class="align-self-center font-weight-bold p-2 border-top">
        Peso Linear
        <input style="background-color: #27292c; color: #5d6269;"
            type="text"
            class="form-control mt-1 mb-1"
            id="nomeBarra"
            placeholder="Nome da Barra" />
    </div>
    <div class="align-self-end p-2 d-flex justify-content-center">
        <button type="button"
            class="btn btn-primary">Calcular</button>
    </div>
</div>