{% load static %}
<nav class="navbar navbar-dark bg-primary navbar-expand-lg p-0 w-100">
    <div class="container-fluid">
        <a class="navbar-brand"
            href="{% url 'index' %} ">
            <img src="{% static 'ponte/icons/logomarcacalc.png' %}"
                alt="Logo"
                width="150"
                height="80"
                class="d-inline-block align-text-top"
                style="filter: brightness(1.0)" />
        </a>
        <div class="collapse navbar-collapse"
            id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand mb-0 h1" href="{% url "index" %}"></a>
                </li>
            </ul>
        </div>

        <div class="container-fluid d-flex justify-content-center padding">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <button class="btn btn-dark" type="submit">Pesquisar</button>
            </form>
        </div>

        <button class="btn btn-primary ml-2 mr-2 font-weight-bold"
            type="button">Login</button>
        <button class="btn btn-primary ml-2 mr-2 font-weight-bold"
            type="button">Registrar</button>
    </div>
</nav>