<div class="font-weight-bold p-2" style="font-size: 1.2em;">Ponte:  <u>{{ ponte.nome_ponte }}</u>
    <form action="{% url 'excluir_ponte' ponte.autor.username ponte.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm ml-2" style="background-color: #990000; color: #ffffff;">Excluir Ponte</button>
    </form>
</div>
<div style="border-bottom: 1px solid #5d6269; margin-top: 10px; margin-bottom: 10px;"></div>
<div class="align-self-start font-weight-bold p-2">Barras</div>
<form id="addTodoForm"
    method="post"
    action="{% url 'adicionar_barra' username=ponte.autor.username ponte_id=ponte.id %}">
    {% csrf_token %}
    <div class="align-self-center font-weight-bold p-2">
        <label for="nome-barra">Nome da Barra</label>
        <a tabindex="0"
            role="button"
            data-bs-toggle="popover"
            data-bs-trigger="focus"
            data-bs-content="Insira o nome da barra">
            <svg xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-info-circle"
                viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
            </svg>
        </a>
        <input style="background-color: #27292c; color: #5d6269;"
            type="text"
            class="form-control mt-1 mb-1"
            id="nome-barra"
            name="nome-barra"
            placeholder="Nome da Barra" />
    </div>
    <div class="align-self-center font-weight-bold p-2">
        <label for="comprimento-barra">Comprimento da Barra</label>
        <a tabindex="0"
            role="button"
            data-bs-toggle="popover"
            data-bs-trigger="focus"
            data-bs-content="Insira o comprimento da Barra em CM">
            <svg xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-info-circle"
                viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
            </svg>
        </a>
        <input style="background-color: #27292c; color: #5d6269;"
            type="text"
            class="form-control mt-1 mb-1"
            id="comprimento-barra"
            name="comprimento-barra"
            placeholder="Comprimento da Barra" />
    </div>
    <div class="align-self-center font-weight-bold p-2">
        <label for="esforco-interno">Esforço Interno</label>
        <a tabindex="0"
            role="button"
            data-bs-toggle="popover"
            data-bs-trigger="focus"
            data-bs-content="Informe o esforço interno">
            <svg xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-info-circle"
                viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
            </svg>
        </a>
        <input style="background-color: #27292c; color: #5d6269;"
            type="text"
            class="form-control mt-1 mb-1"
            id="esforco-interno"
            name="esforco-interno"
            placeholder="Esforço Interno" />
    </div>
    <div class="align-self-center font-weight-bold p-2">
        <label for="tipo-esforco">Tipo de Esforço</label>
        <a tabindex="0"
            role="button"
            data-bs-toggle="popover"
            data-bs-trigger="focus"
            data-bs-content="Selecione o tipo de esforço.">
            <svg xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-info-circle"
                viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
            </svg>
        </a>
        <select class="form-control mt-1 mb-1"
            id="tipo-esforco"
            name="tipo-esforco"
            style="background-color: #27292c; color: #5d6269;">
            <option value="T">Tração</option>
            <option value="C">Compressão</option>
        </select>
    </div>
    <div class="align-self-center mb-3 p-2 d-flex justify-content-center">
        <button type="submit"
            class="btn btn-primary ">Adicionar</button>
    </div>
</form>

<form id="updateTodoForm"
    method="post"
    action="#">
    <div class="align-self-center font-weight-bold p-2">
        <label for="peso-linear">Peso Linear</label>
        <a tabindex="0"
            role="button"
            data-bs-toggle="popover"
            data-bs-trigger="focus"
            data-bs-content="O peso linear da ponte é especificado durante a sua criação">
            <svg xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-info-circle"
                viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
            </svg>
        </a>
        <div style="background-color: #27292c; color: #5d6269;"
            class="form-control mt-1 mb-1 p-2"
            id="peso-linear">
            {{ ponte.peso_linear }}
        </div>
    </div>
    <div class="align-self-end p-2 d-flex justify-content-center">
        <form id="calcular-form"
            action="{% url 'calcular_resultado_total' ponte.autor.username ponte.id %}"
            method="post">
            {% csrf_token %}
            <button type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Calcular
            </button>
        </form>
    </div>
</form>

<div class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"
            style="background-color: #0f1011;">
            <div class="modal-header">
                <h1 class="modal-title fs-5"
                    id="exampleModalLabel">Resultado</h1>
                <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <strong>O peso em media da metade da ponte é:</strong> <u>{{ ponte.peso_metade|floatformat:5 }}</u>
            </div>
            <div class="modal-footer">
                <button type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">Fechar</button>
                <form method="post"
                    action="{% url 'exportar_csv' ponte.autor.username ponte.id %}">
                    {% csrf_token %}
                    <button type="submit"
                        class="btn btn-primary">Exportar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>