<div class="container">
    <div class="content first-content">
        <div class="first-column">
            <h2 class="title title-primary">Seja Bem-Vindo!</h2>
            <p class="description description-primary">Já possui uma conta?</p>
            <p class="description description-primary">
                Faça login com suas informações pessoais
            </p>
            <button id="signin"
                class="btn btn-primary">Login</button>
        </div>
        <div class="second-column">
            <h2 class="title title-second">Criar conta</h2>
            <form class="form">
                <label class="label-input"
                    for="">
                    <i class="far fa-user icon-modify"></i>
                    <input type="text"
                        placeholder="Nome" />
                </label>

                <label class="label-input"
                    for="">
                    <i class="far fa-envelope icon-modify"></i>
                    <input type="email"
                        placeholder="Email" />
                </label>

                <label class="label-input"
                    for="">
                    <i class="fas fa-lock icon-modify"></i>
                    <input type="password"
                        placeholder="Senha" />
                </label>
                <button class="btn btn-second">Registrar</button>
            </form>
        </div>
        <!-- second column -->
    </div>
    <div class="content second-content">
        <div class="first-column">
            <h2 class="title title-primary">Ainda não possui uma conta?</h2>
            <p class="description description-primary">
                Junte-se a nós para calcularmos juntos.
            </p>
            <button id="signup"
                class="btn btn-primary">Registrar</button>
        </div>
        <div class="second-column">
            <h2 class="title title-second">Olá</h2>
            <form class="form">
                <label class="label-input"
                    for="">
                    <i class="far fa-envelope icon-modify"></i>
                    <input type="email"
                        placeholder="Email" />
                </label>

                <label class="label-input"
                    for="">
                    <i class="fas fa-lock icon-modify"></i>
                    <input type="password"
                        placeholder="Senha" />
                </label>

                <a class="password"
                    href="#">Esqueceu sua senha?</a>
                <button class="btn btn-second">Login</button>
            </form>
        </div>
        <!-- second column -->
    </div>
    <!-- second-content -->
</div>