<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Faça aqui os calculos de sua ponte!</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/ponte.css' %}"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'icons/ponte.ico' %}"
    />
  </head>

  <body>
    {% comment %} Navbar 1 COMEÇO {% endcomment %}
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img
            src="{% static 'icons/ponte.ico' %}"
            alt="Logo"
            width="80"
            height="80"
            class="d-inline-block align-text-top"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'home' %}"
                >Início</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Resultados</a>
            </li>
          </ul>
        </div>
        <button class="btn btn-primary" type="button">Login</button>
        <button class="btn btn-primary" type="button">Registrar-se</button>
      </div>
    </nav>
    {% comment %} Navbar 1 FIM{% endcomment %} {% comment %} Navbar 2
    COMEÇO{%endcomment %}

    <nav
      style="background-color: #eb6864 !important; text-align: center"
      class="navbar navbar-dark bg-secondary navbar-expand rounded-bottom p-1"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown2"
          aria-controls="navbarNavDropdown2"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown2">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Selecione a ponte
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">PONTES</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <button class="btn btn-outline-light" type="button">Nova ponte</button>
      </div>
    </nav>
    {% comment %} Navbar 2 FIM {% endcomment %}

    <div class="container">
      <div class="row">
        <div class="col-auto text-left">
          <div class="align-self-start font-weight-bold">Criar ponte</div>
          <div class="align-self-center font-weight-bold">
            Nome da Barra
            <input
              type="text"
              class="form-control"
              id="nomeBarra"
              placeholder="Nome da Barra"
            />
          </div>
          <div class="align-self-center font-weight-bold">
            Comprimento da Barra
            <input
              type="text"
              class="form-control"
              id="ComprimentoBarra"
              placeholder="Comprimento da Barra"
            />
          </div>
          <div class="align-self-center font-weight-bold">
            Esforço Interno
            <input
              type="number"
              class="form-control"
              id="EsforcoInterno"
              placeholder="Esforço Interno"
            />
          </div>
          <div class="align-self-center font-weight-bold">
            Esforço:
            <select class="form-select" id="TipoEsforco">
              <option value="T">Tração</option>
              <option value="C">Compressão</option>
            </select>
          </div>
          <div class="align-self-center">
            <button type="button" class="btn btn-primary">Adicionar</button>
          </div>

          <div class="align-self-end">
            <button type="button" class="btn btn-primary">Calcular</button>
          </div>
        </div>
        <div class="col mx-auto text-left">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Nome da Barra</th>
                <th scope="col">Comprimento</th>
                <th scope="col">Tipo de Esforço</th>
                <th scope="col">Esforço Interno</th>
                <th scope="col">N° de Fios</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">id</td>
                <td class="text-center">100</td>
                <td class="text-center">T</td>
                <td class="text-center">500</td>
                <td class="text-center">1000</td>
                <td class="text-center">
                  <button class="btn btn-danger" type="button">Excluir</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/Ponte.js' %}"></script>
  </body>
</html>
